/* ----------------------------------------------------- Typo -------------------------------------------------------- */


.outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ----------------------------------------------------- Générale -------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bleu{
    color: #748ff9;
    font-size: 120%;
}
.fondbleu{
    background-color: #748ff9;
}
.fondblanc{
    background-color: #ffffff;
}
.Ligne_beige{
    background-color: #ffe9d6;
    text-align: center;
    margin: 0rem;
}
.gras{
    font-weight: bold;
}
.typo_text{
font-family: "Outfit", sans-serif;
}
.typo_titre{
    font-family: 'Times New Roman', Times, serif;
}
.img{
    border-radius: 15px;
    margin: 1%;
}



/* ----------------------------------------------------- header -------------------------------------------------------- */
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #748ff9;
    justify-content: space-around;
    padding: 1rem;
    padding-left: 15%;
    padding-right: 15%;
}
.bouton{
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    transition-duration: 1s;
}
.bouton:hover{
    transition-duration: 1s;
    text-decoration: underline;
}
.bouton2{
    color: #000000;
    font-size: 1.5rem;
    transition-duration: 1s;
}
.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto ;
}



/* ----------------------------------------------------- footer -------------------------------------------------------- */
.footer{
    display: flex;
    justify-content: space-around;
    margin: 1%;
}
.list_footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}



/* ----------------------------------------------- les grilles de pages -------------------------------------------------- */
.grille{
    display: grid;
    grid-template-columns: 50fr 50fr;
    padding: 5%;
    @media screen and (max-width : 1024px){
        display: flex;
        flex-direction: column-reverse;
    }
}
.sous_grille{
    display: flex;
    flex-direction: column;
    @media screen and (max-width : 1024px){
        flex-direction: column-reverse;
    }
}
.carte_grille{
    padding: 2%;
    border-radius: 15px;
    margin: 1%;
}